@mixin btn () {
  text-decoration: none;
  text-align: center;
  padding: ($baseline*5) ($baseline*10);
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  transition: all $slow;
  box-shadow: none;
  text-shadow: none;
  background: transparent;
  border: transparent;
  border-radius: 2rem;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $dark-blue;
  }
}

.btn {
  @include btn();
}

.btn-fill {
  width: 100%;
}

.btn-flex {
  flex: 1;
}

button:disabled,
button[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
// colors

.btn-black {
  background-color: $black;
  border-color: $black;
  color: $white;

  &:hover {
    background-color: $white;
    border-color: $black;
    color: $black;
  }
}

.btn-blue {
  background-color: $blue;
  border-color: $blue;
  color: $white;

  &:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }
}

// custom

.btn-cart {
  padding: ($baseline*5) 0;
  svg {
    max-width: 1rem;
  }
  &:hover {
    svg {
      g {
        transition: all $slow;
        fill: $dark-blue;
      }
    }
  }
}

.btn-close-cart {
  position: absolute;
  top: 0;
  right: 0;
  svg {
    max-width: 20px;
  }
}

.btn-checkout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-transform: uppercase;
  border-radius: 0;
  padding: ($baseline*8) 0;
}

.btn-remove {
  padding: $baseline*4 0;
  color: red;
  &:hover {
    color: red;
    text-decoration: underline;
  }
}

.btn-increase {
  border-radius: 1em 0 0 1em;
  background: $off-white;
  width: 30%;
  display: inline-block;
}

.btn-decrease {
  border-radius: 0 1em 1em 0;
  background: $off-white;
  width: 30%;
  display: inline-block;
}
