.cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0 linear $easing-duration, opacity $easing-duration $easing-function;
  z-index: 600;
  background-color: rgba($light-gray, 0.5);

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0;

    .cart-content {
      visibility: visible;
      opacity: 1;
      transition-delay: 0;
      transform: translate3d(0,0,0);
    }
  }
}

.cart-content {
  box-sizing: border-box;
  position: relative;
  top: 5%;
  z-index: 100;
  max-width: 600px;
  max-height: 95vh;
  overflow-y: scroll;
  float: none;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  background-color: $white;
  text-align: left;
  padding: 1rem 1rem 3.45rem 1rem;
  transition: transform 0 linear $easing-duration, visibility 0 linear $easing-duration, opacity $easing-duration $easing-function;
  transform: $easing-position;
  box-shadow: 0 2px 4px $black-opacity;
  border-radius: 14px;
  margin: 0 auto;
  @include smaller-than($medium) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    max-height: none;
    width: 100%;
    border-radius: 0;
  }
}

.cart-heading {
  padding: 1rem 0;
  border-bottom: 1px solid $light-gray;
}

.cart-total {
  padding: 2rem 0;
  border-top: 1px solid $light-gray;
}

.cart-empty {
  svg {
    max-width: 4rem;
    display: block;
    margin: 1rem auto;
    g {
      fill: $gray;
    }
  }
}

.quantity {
  width: 33%;
  display: inline-block;
  text-align: center;
  line-height: 100%;
  padding: .78em 0;
  border-bottom: 1px solid $blue-gray;
  border-top: 1px solid $blue-gray;
}

.cart-image {
  max-height: 100px;
  width: auto;
}
